@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
	font-family: "IBM Plex Sans", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
}

.scrollbar {
	/* Firefox */
	scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
	scrollbar-width: thin; /* optional: thin, auto, or none */
	/* scrollbar-gutter: stable; */
}

.scrollbar::-webkit-scrollbar {
	width: 12px; /* width of vertical scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 6px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 26px;
	background: transparent;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #333;
	outline: none;
	cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 24px;
	background: linear-gradient(
		to right,
		#ededed 0%,
		#ededed var(--slider-progress, 50%),
		transparent var(--slider-progress, 50%),
		transparent 100%
	);
	border-radius: 4px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.5"><rect x="4.98828" y="12.167" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="12.167" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="4.98828" y="7.5" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="7.5" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="4.98828" y="2.83301" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="2.83301" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/></g></svg>');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ededed;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: grab;
	margin-top: 0;
}

.slider::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.slider::-moz-range-track {
	width: 100%;
	height: 24px;
	background: transparent;
	border-radius: 4px;
}

.slider::-moz-range-progress {
	height: 24px;
	background: #ededed;
	box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.1);
}

.slider::-moz-range-thumb {
	width: 24px;
	height: 24px;
	background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.5"><rect x="4.98828" y="12.167" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="12.167" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="4.98828" y="7.5" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="7.5" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="4.98828" y="2.83301" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/><rect x="10.0117" y="2.83301" width="1" height="1" stroke="%230A0A0A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel"/></g></svg>');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ededed;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: grab;
	box-shadow: inset -4px 4px 4px rgba(255, 255, 255, 0.1);
}

.slider::-moz-range-thumb:active {
	cursor: grabbing;
}

.seek {
	background: #333;
	height: 6px;
	overflow: visible;
}

.seek::-webkit-slider-runnable-track {
	height: 6px;
}

.seek::-moz-range-progress {
	height: 6px;
	background: #ededed;
	box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.1);
	border-radius: 4px 0 0 4px;
}

.seek::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 16px;
	background-image: none;
	background-color: #ededed;
	border: none;
	border-radius: 4px;
	cursor: grab;
	margin-top: 0;
	box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.15), -2px 2px 2px rgba(0, 0, 0, 0.15);
}

.seek::-webkit-slider-thumb {
	position: relative;
	top: -4px;
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 16px;
	background-image: none;
	background-color: #ededed;
	border: none;
	border-radius: 4px;
	cursor: grab;
	margin-top: 0;
}

/* Toggle switch styles */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.1);
	transition: 0.25s cubic-bezier(0.86, 0, 0.07, 1);
	border-radius: 0.375rem;
}

.toggle-slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.25s cubic-bezier(0.86, 0, 0.07, 1);
	border-radius: 0.25rem;
}

input:checked + .toggle-slider {
	background-color: #0080ff;
	box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.2);
}

input:checked + .toggle-slider:before {
	transform: translateX(16px);
	background-color: #ededed;
}

/* Video controls */
.canvas .video-controls {
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.23, 1, 0.32, 1);
}

.canvas:hover .video-controls {
	opacity: 1;
}
